@font-face {
    font-family: LilyUPC;
    src: url(upcll.ttf);
}

*{
	font-family:LilyUPC;
}

.titulo1 {
	color: #ffffff;

}

.titulo2 {
	color: #ffffff;

}

.titulo3 {
	color: #ffffff;

}

.bio{
	color: #ffffff;
}
